<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="mssql" connectionString="Data Source=CHRISTOPHE-2500\SQLExpress;Initial Catalog = DemoMsSql; User ID = DemoMsSql; Password=DemoMsSql"/>
    <add name="access" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=C:\\Users\\chris\\Documents\\Developpement\\Pierre\\Base.mdb;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>